<footer>
    <hr>
    <div class="container">
        <div class="row">
            <p><h3>Следите за новостями</h3></p>
                <ul class="nav navbar-nav" id="links">
                    <li><a href="https://www.facebook.com/Marvel/?brand_redir=137515992990092" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/MarvelRussia" target="_blank">Twitter </a></li>
                    <li><a href="https://www.instagram.com/marvelrussiaofficial/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.youtube.com/marvelrussia" target="_blank">Youtube</a></li>
                </ul>
        </div>  
    </div>
</footer>