{{> header}}

<br>
<br>
{{> flash}}
<div class="container text-center">
    <br>
    <br>
    <div class="panel text-center">
        <h2><p>Заказ принят.</p></h2>
        <h2><p>Позже с Вами свяжется менеджер для уточнения данных.</p></h2>
        <br>
        <h2><p>Спасибо за Ваш заказ!</p></h2>
    </div>
    <br>
    <br>
    <a href="/" class="btn btn-primary text-center btn-lg">Вернуться на главную</a>
</div>
{{> footer}}