{{> header}}
<br>
    <br>
    <br>
    <div class="container"> 
        <section class="infoComics"> 
            <h1><p align="center"><strong>Marvel Comics</strong></p></h1>
            <h3><p align="justify">Американская компания, издающая комиксы, подразделение корпорации «Marvel Entertainment».</p></h3>
            <br>
            <h3><p align="justify">Получившая среди поклонников комиксов прозвище «Дом идей», «Marvel» наиболее известна такими сериями комиксов, 
                как «Фантастическая четвёрка», «Человек-паук», «Невероятный Халк», «Железный человек», «Сорвиголова», «Серебряный Сёрфер», 
                «Призрачный гонщик», «Доктор Стрэндж», «Тор», «Капитан Америка», «Люди Икс», «Каратель», «Стражи Галактики», «Человек Муравей» и «Дэдпул».</p> </h3>
            <br>
            <p align="center"><img src="img/comics.jpg" width="750" height="450" vspace="5" hspace="5"></p>
            
            <h3><p align="justify">С 1960-х Marvel Comics — одна из двух самых крупных американских компаний, выпускающих комиксы, наравне с «DC Comics» 
                (чьими самыми известными детищами являются «Супермен» и «Бэтмен», а также «Чудо Женщина», «Флеш» и «Зелёная стрела»).</p> </h3>
        </section>

        <section class="editors">
            <h2><p align="justify">Главные редакторы:</p></h2>
            <h3><ul>
                <li>Джо Саймон (1939—1941) </li>
                <li>Джек Кёрби(1940-1970)</li>
                <li>Стэн Ли (1941—1972)</li>
                <li>Винсент Фаго (исполнял обязанности редактора во время армейской службы Ли) (1942—1945)</li>
                <li>Рой Томас (1972—1974)</li>
                <li>Лен Вэйн (1974—1975)</li>
                <li>Марв Вольфман (отвечал за чёрно-белые журналы в период 1974—1975; в 1975—1976 главный редактор всей компании)</li>
                <li>Джерри Конвэй (1976)</li>
                <li>Арчи Гудвин (1976—1978)</li>
                <li>Джим Шутер (1978—1987)</li>
                <li>Том Дефалько (1987—1994)</li>
                <li>Боб Харрас (1995—2000)</li>
                <li>Джо Кесада (2000—2011)</li>
                <li>Аксель Алонсо (2011—настоящее время)</li>     
            </ul></h3>
         </section>
         <br>
        <div class="row">
            <p align="center"><img src="img/IMComics.jpg"></p>
        </div>
    </div>

{{> footer}}