{{> header}}

<div class="container">
    <div class="page-section-separator"></div>
            <section class="infoFilms">
                <h1><strong>Marvel Studios</strong></h1>
                <p><h3>Американская киностудия, основанная в The Walt Disney Studios в Бербанке, штат Калифорния,</h3></p> 
                <p><h3>и является дочерней компанией Walt Disney Studios, которая полностью принадлежит</h3></p>
                <p><h3>подразделению The Walt Disney Company.</h3></p>
            </section>
            <hr>
            <section class="films">
              <h1><strong>Фильмография</strong></h1>
              <h4><table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Год</th>
                            <th>Название</th>
                            <th>Режиссёр</th>
                            <th>Дистрибьютор</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td rowspan="2">2008</td>
                            <td>Железный человек</td>
                            <td>Джон Фавро</td>
                            <td>Paramount Pictures</td>
                          </tr>
                          <tr>
                            <td>Невероятный Халк</td>
                            <td>Луи Летерье</td>
                            <td>Universal Studios</td>
                          </tr>
                          <tr>
                            <td>2010</td>
                            <td>Железный человек 2</td>
                            <td>Джон Фавро</td>
                            <td rowspan="3">Paramount Pictures</td>
                          </tr>
                          <tr>
                            <td rowspan="2">2011</td>
                            <td>Тор</td>
                            <td>Кеннет Брана</td>
                          </tr>
                          <tr>
                            <td>Первый мститель</td>
                            <td>Джо Джонстон</td>
                          </tr>
                          <tr>
                            <td>2012</td>
                            <td>Мстители</td>
                            <td>Джосс Уидон</td>
                            <td rowspan="2">Paramount Pictures / Walt Disney Pictures</td>
                          </tr>
                          <tr>
                            <td rowspan="2">2013</td>
                            <td>Железный человек 3</td>
                            <td>Шейн Блэк</td>
                          </tr>
                          <tr>
                            <td>Тор 2. Царство тьмы</td>
                            <td>Алан Тейлор</td>
                            <td rowspan="8">Walt Disney Pictures</td>
                          </tr>
                          <tr>
                            <td rowspan="2">2014</td>
                            <td>Первый мститель. Другая война</td>
                            <td>Энтони и Джо Руссо</td>
                          </tr>
                          <tr>
                            <td>Стражи Галактики</td>
                            <td>Джеймс Ганн</td>
                          </tr>
                          <tr>
                            <td rowspan="2">2015</td>
                            <td>Мстители. Эра Альтрона</td>
                            <td>Джосс Уидон</td>
                          </tr>
                          <tr>
                            <td>Человек-муравей</td>
                            <td>Пейтон Рид</td>
                          </tr>
                          <tr>
                            <td rowspan="2">2016</td>
                            <td>Первый мститель. Противостояние</td>
                            <td>Энтони и Джо Руссо</td>
                          </tr>
                          <tr>
                            <td>Доктор Стрэндж</td>
                            <td>Скотт Дерриксон</td>
                          </tr>
                          <tr>
                            <td rowspan="2">2017</td>
                            <td>Стражи Галактики. Часть 2</td>
                            <td>Джеймс Ганн</td>
                          </tr>
                          <tr>
                            <td>Человек-паук. Возвращение домой</td>
                            <td>Джон Уоттс</td>
                            <td>Sony Pictures / Columbia Pictures / Walt Disney Pictures</td>
                          </tr>
                          <tr>
                            <td>2017</td>
                            <td>Тор. Рагнарёк</td>
                            <td>Тайка Вайтити</td>
                            <td rowspan="3">Walt Disney Pictures</td>
                          </tr>
                          <tr>
                            <td>2018</td>
                            <td>Чёрная пантера</td>
                            <td>Райан Куглер</td>
                          </tr>
                          <tr>
                            <td>2018</td>
                            <td>Мстители. Война бесконечности</td>
                            <td>Энтони и Джо Руссо</td>
                          </tr>
                        </tbody>
                </table></h4>
            </section>
          <hr>
        <div class="row" align="justify">
          <section class="avangers18">
            <img src="img/av3.jpg" width="370" height="500" align="left" vspace="5" hspace="5">
            <p><h3>Пока Мстители и их союзники продолжают защищать мир от различных опасностей, 
            с которыми не смог бы справиться один супергерой, новая угроза возникает из космоса: Танос. 
            Межгалактический тиран преследует цель собрать все шесть Камней Бесконечности — артефакты невероятной силы, 
            с помощью которых можно менять реальность по своему желанию. Всё, с чем Мстители сталкивались ранее, 
            вело к этому моменту — судьба Земли никогда ещё не была столь неопределённой.</h3></p>
            <br>
            <p><h2><em>Премьера (мир): 25 апреля 2018</em></h2>	</p>
          </section>
        </div>
        <hr>
        <div class="row"  align="justify">
          <section class="blackPantera">
            <img src="img/BP.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
            <h3>С первого взгляда можно решить, что Ваканда — обычная территория дикой Африки, но это не так. 
              Здесь, в недрах пустынных земель, скрываются залежи уникального металла, способного поглощать вибрацию. 
              Многие пытались добраться до него, разоряя всё на своём пути и принося смерть аборигенам, но каждый раз 
              таинственный дух саванны — Чёрная Пантера — вставал на защиту угнетённых.
              Спустя много лет беда снова приходит в Ваканду, и в этот раз враг заручился поддержкой современных технологий. 
              Когда шансов почти не остаётся, Т`Чалла, молодой принц Ваканды, узнаёт, что именно ему предстоит возродить легенду 
              и продолжить вечную борьбу, надев маску Чёрной Пантеры.</h3>
            <br>
            <p><h2><em>Премьера (мир): 12 февраля 2018</em></h2>	</p>
          </section>
        </div>
        <hr>
        <div class="row" align="justify">
            <section class="thor3">
                <img src="img/Thor3.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                  <h3>Вернувшись в Асгард в поисках таинственного врага, ведущего охоту на Камни Бесконечности, Тор обнаруживает, 
                    что действия его брата Локи, захватившего трон Асгарда, привели к приближению наиболее страшного события — Рагнарёка. 
                    По легенде, это ознаменует последнюю битву Асгарда, последствием которой станет его полное уничтожение. В попытке 
                    предотвратить это событие, Тору предстоит прибегнуть к помощи своего товарища из Мстителей — Халка. Вместе, им предстоит 
                    столкнуться лицом к лицу со злейшим врагом всех девяти миров — огненным демоном Суртуром, целью которого является исполнение 
                    пророчества о Рагнарёке и уничтожение девяти миров.</h3>
                  <br>
                  <p><h2><em>Премьера (мир): 24 октября 2017</em></h2>	</p>
            </section>
        </div>
        <hr>
        <div class="row" align="justify">
            <section class="spiderMan">
                <img src="img/SpiderMan.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                  <h3>После исторической встречи с командой Мстителей Питер Паркер возвращается домой, стараясь зажить обычной 
                  жизнью под опекой своей тёти Мэй. Но теперь за Питером приглядывает ещё кое-что… Тони Старк видел 
                  Человека-Паука в деле и должен стать его наставником. Когда новый злодей Стервятник угрожает уничтожить всё, 
                  что дорого Питеру, приходит время доказать всем, что такое настоящий супергерой.</h3>
                  <br>
                <p><h2><em>Премьера (мир): 28 июня 2017</em></h2>	</p>
            </section>
        </div>
        <hr>
        <div class="row" align="justify">
            <section class="GoG2">
              <img src="img/GoG2.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <h3>
                Все в сборе: землянин Питер Квилл (Звездный Лорд), молчаливый громила Дракс, зеленокожая наемница Гамора, 
                живое дерево Грут и говорящий енот. Герои не изменяют себе и с завидной регулярностью продолжают попадать в 
                немыслимые ситуации, выпутываясь из них почти без ущерба (а иногда даже с пользой) для окружающих. На этот раз 
                им предстоит раскрыть одну из самых главных тайн во всей Галактике: кто же на самом деле отец Питера Квилла?</h3>
                <br>
            </section>
        </div>
        <hr>
        <div class="row" align="justify">
          <section class="doctorStrange">
            <img src="img/DrStrange.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
              <h3>Страшная автокатастрофа поставила крест на карьере успешного нейрохирурга Доктора Стрэнджа. 
              Отчаявшись, он отправляется в путешествие в поисках исцеления и открывает в себе невероятные способности 
              к трансформации пространства и времени. Теперь он — связующее звено между параллельными измерениями, 
              а его миссия — защищать жителей Земли и противодействовать Злу, какое бы обличие оно ни принимало.</h3>
              <br>
          </section>
         </div>
      <hr>
        <div class="row" align="justify">
          <section class="capitainAmerica3">
           <img src="img/CA3.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
              <p><h3>Мстители под руководством Капитана Америки оказываются участниками разрушительного инцидента, 
                имеющего международный масштаб. Эти события заставляют правительство задуматься над тем, чтобы начать регулировать 
                действия всех людей с особыми способностями, введя «Акт о регистрации супергероев», вынуждая их подчиняться ООН.</h3></p>
                  
                <p><h3>Видя в этом договоре нарушение гражданских прав и плевок на всё, во что он верит, Стив Роджерс 
                открыто восстаёт против нового режима, ведя за собой группу героев, поддерживающих его мнение. В свою очередь, 
                Тони Старк видит смысл в новом договоре и становится во главе героев, поддерживающих его. Всё это приводит к неизбежному 
                расколу Мстителей и войне между сторонами. Сражаясь друг с другом, Старк и Роджерс не знают о том, что таинственный Барон 
                Земо уже строит свои собственные планы, воспользовавшись расколом величайших героев Земли.</h3></p>
              <br>
         </section>
       </div>
    <hr>
        <div class="row" align="justify">
            <section class="antMan">
            <img src="img/antMan.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <h3>Вооружившись удивительной способностью уменьшаться в размере, но обладать при этом большой силой, 
                  мошенник Скотт Лэнг должен стать героем и помочь своему наставнику, доктору Хэнку Пиму, сохранить в тайне 
                  существование костюма Человека-муравья от угроз нового поколения.</h3>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="avangers2">
            <img src="img/av2.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <h3>Человечество на грани уничтожения. На этот раз людям угрожает Альтрон — искусственный интеллект, 
                  ранее созданный для того, чтобы защищать Землю от любых угроз. Однако, главной угрозой он посчитал человечество. 
                  Международная организация Щ. И. Т. распалась, и теперь мир не способен справиться с таким мощным врагом, потому 
                  люди вновь обращаются за помощью к Величайшим Героям Земли — Мстителям. Однако Альтрон слишком силен, и есть большая 
                  вероятность, что даже им не удастся остановить начало надвигающейся Эры Альтрона, где нет места для людей…</h3>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="GoG">
            <img src="img/GoG1.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>Отважному путешественнику Питеру Квиллу попадает в руки таинственный артефакт, принадлежащий могущественному 
                  и безжалостному злодею Ронану, строящему коварные планы по захвату Вселенной. Питер оказывается в центре 
                  межгалактической охоты, где жертва — он сам.</h3></p>
                    
                <p><h3>Единственный способ спасти свою жизнь — объединиться с четверкой нелюдимых изгоев: воинственным 
                    енотом по кличке Ракета, человекоподобным деревом Грутом, смертельно опасной Гаморой и одержимым жаждой мести 
                    Драксом, также известным как Разрушитель. Когда Квилл понимает, какой силой обладает украденный артефакт и какую 
                    опасность он представляет для вселенной, одиночка пойдет на все, чтобы сплотить случайных союзников для решающей 
                    битвы за судьбу галактики.</h3></p>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="capitainAmerica2">
            <img src="img/CA2.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <h3>После беспрецедентных событий, впервые собравших вместе команду Мстителей, Стив Роджерс, 
                  известный также как Капитан Америка, оседает в Вашингтоне и пытается приспособиться к жизни в современном мире. 
                  Но покой этому герою только снится — пытаясь помочь коллеге из агентства Щ. И. Т., Стив оказывается в центре событий, 
                  грозящих катастрофой мирового масштаба. Для того, чтобы разоблачить злодейский заговор, Капитан Америка объединяется с 
                  Черной вдовой. К ним также присоединяется новый соратник, известный как Сокол, однако никто из них даже не подозревает, 
                  на что способен новый враг.</h3>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="thor2">
            <img src="img/Thor2.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <h3>Могучему Тору предстоит вновь сразиться за восстановление порядка в галактике, встретившись лицом к лицу 
                  с древней инопланетной расой, ведомой злодеем Малекитом, который жаждет установить в девяти мирах власть тьмы. 
                  Столкнувшись с врагом, более могущественным, чем сам Один и всё воинство Асгарда, Тор должен собрать силы для решающей битвы. 
                  Его ждёт опасное путешествие и долгожданная встреча со своей земной возлюбленной Джейн Фостер. Сможет ли Тор рискнуть 
                  самым дорогим, чтобы не дать тьме воцариться на просторах вселенной?</h3>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="ironMan3">
            <img src="img/IM3.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <h3>Когда мир Старка рушится на его глазах по вине неизвестных противников, Тони жаждет найти виновных и свести с 
                  ними счеты. Оказавшись в безвыходной ситуации, Старк может рассчитывать только на себя и свою изобретательность, 
                  чтобы защитить тех, кто ему дорог. Это становится настоящим испытанием для героя, которому придется не только сражаться 
                  с коварным врагом, но и разобраться в себе, чтобы найти ответ на вопрос, который давно его тревожит: что важнее — человек или костюм?</h3>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="avangers1">
            <img src="img/av1.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>Локи, сводный брат Тора, возвращается, и в этот раз он не один. Земля на грани порабощения, и только лучшие 
                  из лучших могут спасти человечество.</h3></p>
                    
                <p><h3> Ник Фьюри, глава международной организации Щ. И. Т., собирает выдающихся поборников справедливости и добра, чтобы отразить атаку. 
                  Под предводительством Капитана Америки Железный Человек, Тор, Невероятный Халк, Соколиный глаз и Чёрная Вдова вступают в войну 
                  с захватчиком.</p> </h3>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="capitainAmerica1">
            <img src="img/CA1.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>Стив Роджерс добровольно соглашается принять участие в эксперименте, который превратит его в суперсолдата, 
                  известного как Первый мститель. Роджерс вступает в вооруженные силы США вместе с Баки Барнсом и Пегги Картер, 
                  чтобы бороться с враждебной организацией ГИДРА, которой управляет безжалостный Красный Череп.</h3></p>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="thor1">
            <img src="img/Thor1.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>Эпическое приключение происходит как на нашей планете Земля, так и в королевстве богов Асгарде. 
                  В центре истории — Могучий Тор, сильный, но высокомерный воин, чьи безрассудные поступки возрождают древнюю войну в Асгарде. 
                  Тора отправляют в ссылку на Землю, лишают сил и заставляют жить среди обычных людей в качестве наказания….</h3></p>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="ironMan2">
            <img src="img/IM2.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>Прошло полгода с тех пор, как мир узнал, что миллиардер-изобретатель Тони Старк является обладателем 
                  уникальной кибер-брони Железного человека. Общественность требует, чтобы Старк передал технологию брони правительству США, 
                  но Тони не хочет разглашать её секреты, потому что боится, что она попадёт не в те руки. </h3></p>
                    
                <p><h3>Между тем Иван Ванко — сын русского учёного, когда-то работавшего на фирму Старка, 
                    но потом уволенного и лишенного всего, намерен отомстить Тони за беды своей семьи. 
                    Для чего сооружает своё высокотехнологичное оружие.</h3></p>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="hulk">
            <img src="img/hulk.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>История доктора Брюса Баннера, который ищет лекарство от своего необычного «заболевания», 
                    превращающего его во время эмоционального стресса в гигантского зеленого монстра Халка. 
                    Находясь в бегах от армии, стремящейся его захватить, Брюс почти находит лекарство, но все 
                    старания идут прахом, когда у Халка вдруг появляется новый, невероятно сильный противник.</h3></p>
                <br>
          </section>
        </div>
      <hr>
        <div class="row" align="justify">
            <section class="ironMan1">
            <img src="img/IM1.jpg" width="370" height="510" align="left" vspace="5" hspace="5">
                <p><h3>Миллиардер-изобретатель Тони Старк попадает в плен к Афганским террористам, которые пытаются заставить 
                  его создать оружие массового поражения. В тайне от своих захватчиков Старк конструирует высокотехнологичную 
                  киберброню, которая помогает ему сбежать. Однако по возвращении в США он узнаёт, что в совете директоров 
                  его фирмы плетётся заговор, чреватый страшными последствиями. Используя своё последнее изобретение, 
                  Старк пытается решить проблемы своей компании радикально…</h3></p>
                <br>
          </section>
        </div>
      <hr>
</div>

<div class="scrollup">
  <i class="fa fa-chevron-up"></i>
  <script>
    $(function() {
    $('.scrollup').click(function() {
        $("html, body").animate({
        scrollTop:0
        },1000);
    })
    })
    // при прокрутке окна (window)
    $(window).scroll(function() {
    // если пользователь прокрутил страницу более чем на 200px
    if ($(this).scrollTop()>3000) {
        // то сделать кнопку scrollup видимой
        $('.scrollup').fadeIn();
    }
    // иначе скрыть кнопку scrollup
    else {
        $('.scrollup').fadeOut();
    }
    });
    </script>
</div>
{{> footer}}