{{> header}}

<div class="container">

    <br>
    <br>
    <br>
    <div class="row">
        <span align="center"><h1><strong>Мстители</strong></h1>  </span>
        <div class="gallery gallery-heroes">
            <img src="img/CA.jpg" alt="Captain America">
            <div class="desc-hero"><h4>Капитан Америка</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/IM.jpg" alt="Iron Man">
            <div class="desc-hero"><h4>Железный человек</h4></h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/HulkH.jpg" alt="Hulk">
            <div class="desc-hero"><h4>Халк</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/Thor.jpg" alt="Thor">
            <div class="desc-hero"><h4>Тор</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/blackWidow.jpg" alt="Black Widow">
            <div class="desc-hero"><h4>Черная вдова</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/Vision.jpg" alt="Vision">
            <div class="desc-hero"><h4>Вижен</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/Falcon.jpg" alt="Falcon">
            <div class="desc-hero"><h4>Сокол</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/ScarletWitch.jpg" alt="Scarlet Witch">
            <div class="desc-hero"><h4>Алая Ведьма</h4></div>
        </div>  
        <div class="gallery gallery-heroes">
            <img src="img/Hawkeye.jpg" alt="Hawkeye">
            <div class="desc-hero"><h4>Соколиный глаз</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/WarMachine.jpg" alt="War Machine">
            <div class="desc-hero"><h4>Воитель</h4></div>
        </div>  
    </div>
    <div class="row">
        <span align="center"><h1><strong>Стражи Галактики</strong></h1>  </span>
        <div class="gallery gallery-heroes">
            <img src="img/StarLord.png" alt="Star Lord">
            <div class="desc-hero"><h4>Звёздный Лорд</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/Gamora.jpg" alt="Gamora">
            <div class="desc-hero"><h4>Гамора</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/Groot.jpg" alt="Groot">
            <div class="desc-hero"><h4>Грут</h4></div>
        </div>
        <div class="gallery gallery-heroes">
            <img src="img/Rocket.jpg" alt="Rocket">
            <div class="desc-hero"><h4>Ракета</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/Drax.jpg" alt="Drax">
            <div class="desc-hero"><h4>Дракс Разрушитель</h4></div>
        </div>  
    </div>
    <div class="row">
        <span align="center"><h1><strong>Герои Киновселенной</strong></h1></span> 
        <div class="gallery  gallery-heroes">
            <img src="img/Ant_Man.jpg" alt="Ant-Man">
            <div class="desc-hero"><h4>Человек-муравей</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/DoctorStrange.jpg" alt="Doctor Strange">
            <div class="desc-hero"><h4>Доктор Стрендж</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/Wasp.jpg" alt="Wasp">
            <div class="desc-hero"><h4>Оса</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/SpiderManH.jpg" alt="Spider Man">
            <div class="desc-hero"><h4>Человек-паук</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/BlackPanther.jpg" alt="Black Panther">
            <div class="desc-hero"><h4>Черная пантера</h4></div>
        </div>  
        <div class="gallery  gallery-heroes">
                <img src="img/NickFury.jpg" alt="Nick Fury">
                <div class="desc-hero"><h4>Ник Фьюри</h4></div>
            </div> 
    </div>
    <div class="row">
        <span align="center"><h1><strong>Злодеи</strong></h1></span> 
        <div class="gallery  gallery-heroes">
            <img src="img/Thanos.jpg" alt="Thanos">
            <div class="desc-hero"><h4>Танос</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/Apocalypse.jpg" alt="Apocalypse">
            <div class="desc-hero"><h4>Апокалипсис</h4></div>
        </div>
        <div class="gallery  gallery-heroes">
            <img src="img/Loki.jpg" alt="Loki">
            <div class="desc-hero"><h4>Локи</h4></div>
        </div>
    </div>  
</div>     
{{> footer}}