{{> header}}

<div class="container">
    <br>
    <br>
    <br>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Агенты "Щ.И.Т."</strong></p></h2>
            <img src="img/AoS.jpg" width="550" height="350" align="left" vspace="5" hspace="5">
            <h4><p>В мае 2012 года, вместе с анонсом «Мстители», было заявлено намерение снять сериал по киновселенной Marvel, 
                режиссурой которого занялся бы Джосс Уидон. 29 августа 2012 года было объявлено официальное название — «Агенты Щ.И.Т.». 
                Через два месяца в сеть просочился шорт-лист с возможными действующими главными героями, а также информация от продюсера Джефа Лоэба 
                о возвращении Кларка Грегга к роли Фила Колсона, который, как оказывается, выжил после событий «Мстителей». 
                Премьера сериала состоялась 24 сентября 2013 года на канале ABC, второй сезон стартовал через год, 23 сентября 2014-го. 
                Премьера третьего сезона стартовала 29 сентября 2015 года.</p>
                    
            <p>В сериале, помимо Колсона (Кларк Грегг), засветилось множество других персонажей из разнообразных проектов КВМ: 
                Ник Фьюри (Сэмюэл Л. Джексон), Мария Хилл (Коби Смолдерс), Джаспер Ситуэлл (Максимилиано Эрнандес), 
                Феликс Блейк (Титус Уэлливер), Пегги Картер (Хэйли Этвелл), Дум-Дум Дуган (Нил Макдонаф), 
                Джим Морита (Кеннет Чои) и Сиф (Джейми Александр).</p>
                
            <p> С 13 по 18 декабря 2016 транслировался веб-сериал «Агенты „Щ.И.Т.“: Йо-йо» из шести эпизодов, являющийся спин-оффом «Агентов „Щ.И.Т.“».</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Агент Картер</strong></p></h2>
            <img src="img/Carter.jpg" width="550" height="350" align="right" vspace="5" hspace="5">
            <h4><p>В сентябре 2013 года был анонсирован сериал «Агент Картер», повествующий о приключениях первой любви Стива 
                Роджерса — Пегги Картер (Хэйли Этвелл), а также о становлении организации Щ.И.Т.. Сериал должен был выйти 
                осенью 2014 года, но премьера вскоре была перенесена на январь 2015 года. Первый эпизод вышел 6 января.
                Премьера 2 сезона состоялась в январе 2016 года.</p>
                    
            <p>В сериале в очередной раз появляется Дум-Дум Дуган (Нил Макдонаф), ранее фигурировавший в фильме «Первый мститель» (2011), 
                в сериале «Агенты Щ.И.Т.» и одноименной короткометражке о приключениях Картер. Впервые в рамках КВМ появился дворецкий 
                Говарда Старка (Доминик Купер) — Эдвин Джарвис (Джеймс Д’Арси)[68], именем которого Тони Старк спустя много лет назовет 
                созданный им искусственный интеллект.</p>
                
            <p> Несмотря на положительную критику, из-за низких рейтингов 12 мая 2016 года ABC объявили о закрытии сериала «Агент Картер».</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Особо опасные</strong></p></h2>
            <h4><p>В мае 2015 года телеканал ABC сообщил, что ведет разработку нового телесериала под названием «Marvel’s Most Wanted» — 
                спин-оффа телесериала «Агенты „Щ.И.Т.“», главные роли в котором должны были исполнить Эдрианн Палики (Барбара «Бобби» Морс) 
                и Ник Блад (Лэнс Хантер), но с анонсом 3 сезона «Агентов» студия сообщила, что сворачивает разработку спин-оффа. 
                20 августа 2015 года стало известно, что канал все же решил продолжить разработку «Marvel’s Most Wanted». 
                Премьера телесериала была намечена на осень 2016 года. Тем не менее, 12 мая было объявлено, что ABC 
                закрывают этот проект наряду с сериалом «Агент Картер».</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Контроль разрушений</strong></p></h2>
            <h4><p>4 октября 2015 года стало известно, что ABC Studios ведет разработку сериала по комиксам под названием «Damage Control» 
                от Marvel. Речь должна была пойти о команде уборщиков, которые устраняли катастрофические последствия деятельности 
                супергероев во вселенной Marvel, возвращали потерянные вещи законным владельцам и прятали подальше от людских глаз 
                опасные предметы, вроде лучевого пистолета. Над сериалом работали Бен Карлин[en], который вместе с Дэвидом Майнером
                и Джэфом Лоэбом, главой телевизионного департамента Marvel, должны были стать исполнительным продюсером проекта. 
                Карлин также написал сценарий пилотного эпизода. После съёмок пилота проект был заморожен, а сама организация Damage 
                Control была представлена в фильме «Человек-паук: Возвращение домой», вышедшем в июле 2017 года.</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Сверхлюди</strong></p></h2>
            <img src="img/Inhumans.jpg" width="550" height="350" align="left" vspace="5" hspace="5">
            <h4><p>В 2011 году студия впервые заговорила об экранизации комиксов о вымышленной инопланетной расе, известной как Нелюди. 
                Начальный сценарий написал Джо Роберт Коул. В октябре 2014 года была объявлена дата выхода — 12 июля 2019. 
                22 апреля 2016 года стало известно, что проект перенесён на неопределенный срок</p>
                    
            <p>15 ноября 2016 года IMAX Corp, Marvel Television и Disney/ABC объявили создании сериала «Нелюди», повествующем о Чёрном громе
                и Королевской семье Нелюдей. В русской локализации сериал получил название «Сверхлюди». 
                Сериал дебютирует в сети коммерческих кинотеатров IMAX, что само по себе является абсолютной новизной 
                для сериала в подобном формате, и первый сезон будет состоять из восьми эпизодов. Первые две серии «Нелюдей» будут 
                сняты полностью в формате IMAX и их показ пройдет в кинотеатрах по всему миру в течение двух недель в начале сентября 2017 года. 
                После этого еженедельно будут показаны остальные шесть эпизодов.</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Сорвиголова</strong></p></h2>
            <img src="img/daredevil.jpg" width="550" height="350" align="right" vspace="5" hspace="5">
            <h4><p>Сериал повествует о жизни слепого адвоката Мэтта Мёрдока, который под именем «Сорвиголова» борется с преступностью на улицах 
                ночной Адской кухни. Первый сезон, состоящий из 13 серий, вышел 10 апреля 2015 года. Получив исключительно положительные 
                отзывы критиков, сериал был продлен на второй сезон, премьера которого состоялась 18 марта 2016 года.</p>
                    
            <p>В сериале присутствуют отсылки к Мстителям и событиям из одноименного фильма. В частности, упоминается разрушительная битва, 
                уничтожившая половину Нью-Йорка, и «волшебный молот» с «железным костюмом». Во втором сезоне была упомянута 
                Джессика Джонс из собственного одноименного телесериала, а также камео Кэрри-Энн Мосс. Во втором сезоне сериала в сюжет введен Каратель 
                (Джон Бернтал) — человек, вершащий правосудие, убивая преступников, и Электра (Элоди Юнг) — наёмная убийца из клана «Рука» и 
                любовный интерес Сорвиголовы</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Джессика Джонс</strong></p></h2>
            <img src="img/jessicaJones.jpg" width="550" height="350" align="left" vspace="5" hspace="5">
            <h4><p>Основой сериала послужил комикс «Alias», главной героиней которого является Джессика Джонс — супергероиня и частный детектив. 
                В сериале также появился Люк Кейдж — любовный интерес Джессики, чей сольный сериал стал третьим в линейке Netflix после 
                «Сорвиголовы» и «Джессики Джонс». Премьера всех 13 серий 1 сезона состоялась 20 ноября 2015 года.</p>
                    
            <p>В сериале присутствуют отсылки к Мстителям и событиям из одноименного фильма, 
                а также к Сорвиголове из первого сериала Marvel Television / Netflix — «Сорвиголова». 
                В сериале исполнила гостевую роль Розарио Доусон, знакомая зрителям по роли Клэр Тэмпл из первого телесериала.</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Люк Кейдж</strong></p></h2>
            <img src="img/lukeCage.jpg" width="550" height="350" align="right" vspace="5" hspace="5">
            <h4><p>Главным героем сериала является Люк Кейдж, который в результате неудачного эксперимента наделяется суперспособностями 
                и становится супергероем по найму. В сериале в очередной раз снимается Розарио Доусон (Клэр Тэмпл) из телесериалов «Сорвиголова» 
                и «Джессика Джонс». Премьера всех 13 серий 1 сезона состоялась 30 сентября 2016 года.</p>
                    
            <p>В сериале в очередной раз упоминают события, связанные с Мстителями, также были затронуты некоторые события из других проектов 
                Marvel / Netflix — телесериалов «Сорвиголова» (2 сезон) и «Джессика Джонс». Также в сериале эпизодично засветились генеральный 
                прокурор Блейк Тауэр в исполнении Стивена Райдера и бандит, торговец оружием Тёрк Баррет. Оба персонажа из телесериала Сорвиголова.</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Железный кулак</strong></p></h2>
            <img src="img/ironFist.jpg" width="550" height="350" align="left" vspace="5" hspace="5">
            <h4> <p>Сериал рассказывает о Дэнни Рэнде, известном как Железный кулак, роль которого исполняет Финн Джонс. В возрасте 12 лет Дэнни 
                вместе со своей семьей попадает в авиакатастрофу, где чудом выживает лишь он один. Его спасают монахи из таинственного ордена 
                и обучают боевым искусствам, дисциплине и духовному уравновешению. Спустя 15 лет он возвращается в родной город Нью-Йорк, где 
                он считался погибшим, чтобы унаследовать компанию своего отца, одну из крупнейших компаний в мире, но по прибытии узнает, что 
                ему там не рады. Дэнни хочет вернуть себе компанию, навести в ней порядок и одновременно бороться с загадочной группировкой, 
                которая практически контролирует весь город.</p>
                    
            <p>В сериале появляется Джери Хоггарт в исполнении Керри-Энн Мосс, которую зрители могли видеть в «Джессике Джонс» 
                и во втором сезоне «Сорвиголовы». Также в сериале появились Мадам Гао («Сорвиголова») и Клэр Тэмпл 
                (предыдущие телесериалы Marvel на Netflix).</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Защитники</strong></p></h2>
            <img src="img/defenders.jpg" width="550" height="350" align="right" vspace="5" hspace="5">
            <h4><p>Телесериал-кроссовер объединил супергероев Сорвиголову, Джессику Джонс, Люка Кейджа и Железного кулака, 
                к ролям которых вернулись Чарли Кокс, Кристен Риттер, Майк Колтер и Финн Джонс соответственно. 
                Так же появились персонажи из их сольных сериалов: Фогги Нельсон (Элден Хенсон), Карен Пейдж (Дебора Энн Уолл), 
                Электра (Элоди Юнг) и Стик (Скотт Гленн) из «Сорвиголовы», Триш Уокер (Рэйчел Тейлор) и Малькольм Дюкассе (Эка Дарвилл) 
                из «Джессики Джонс», Мисти Найт (Симон Миссик) из «Люка Кейджа», Коллин Винг (Джессика Хенвик) и Бакуто (Рамон Родригес)
                    из «Железного кулака», а также Джери Хогарт (Кэрри-Энн Мосс) и Мадам Гао (Вай Чинг Хо), появлявшиеся ранее в нескольких сериалах, 
                    и появлявшаяся во всех предыдущих сериалах Клэр Темпл в исполнении Розарио Доусон. Сигурни Уивер исполнила роль антагониста 
                    Александры Рид. Сериал вышел 18 августа 2017 года.</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Каратель</strong></p></h2>
            <img src="img/punisher.jpg" width="550" height="350" align="left" vspace="5" hspace="5">
            <h4><p>Сериал будет посвящён приключениям Фрэнка Касла, так же известного как Каратель, после событий второго сезона сериала «Сорвиголова».</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Беглецы</strong></p></h2>
            <img src="img/runaways.png" width="550" height="350" align="right" vspace="5" hspace="5">
            <h4><p>В августе 2016 года Marvel объявили о разработке совместно с Hulu нового сериала «Беглецы». 
                Сериал расскажет о шести подростках, обнаруживших, что их родители состоят в тайном обществе суперзлодеев под названием «Прайд». 
                Осознав, что они больше не в безопасности в собственных домах, подростки решают сбежать. Скрываясь от родителей, они всё больше 
                узнают о собственных способностях и секретах своих семей. «Беглецы» будут сняты Джошем Шварцем и Стефани Сэвадж по их же сценарию, 
                под руководством Джефа Лоэба («Джессика Джонс», «Люк Кейдж») и Джима Чори («Сорвиголова», «Джессика Джонс»).
                    Спродюсирует сериал Лиз Ровински совместно с ABC Studios. Предположительно сериал стартует в 2017—2018 году.</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Плащ и Кинжал</strong></p></h2>
            <h4><p>Тэнди Боуэн и Тайрон Джонсон, двое подростков из разных слоёв общества, оказываются обременены вдруг 
                проснувшимися приобретёнными способностями, когда влюбляются друг в друга. Тэнди излучает кинжалы света, а Тайрон 
                может поглощать других людей во мрак. Они быстро понимают, что им лучше вместе, чем порознь, но чувства друг к другу
                делают их и без того непростой мир ещё более сложным.</p>
                    
            <p>Предположительно сериал стартует в 2018 году</p></h4>
        </section>
    </div>
    <hr>
    <div class="row" align="justify">
        <section>
            <h2><p align="center"><strong>Новые Воины</strong></p></h2>
            <h4><p>Планируется, что сериал будет носить комедийный характер, состоять из 10 серий по 30 минут. 
                Сценарий напишет Кевин Бигель («Клиника»), который так же займет место шоураннера. 
                Главными персонажами телесериала станут Девушка-белка, Ночной Громила, Спидбол, Мистер Бессмертный, Микроб и Дэбри.</p>

            <p>Первый синопсис сериала: «Сюжет „Новых Воинов“ вращается вокруг группы из шести молодых людей, которые живут и работают вместе. 
                Со своими силами и способностями они находятся далеко от Мстителей, но, несмотря на это, Новые Воины хотят изменить мир. 
                Героям не чужды жизненные проблемы и ситуации простых обывателей — первая любовь, первая работа. Новым Воинам придется шаг 
                за шагом последовать во взрослую жизнь этого мира. Они не совсем супер и еще не герои, но в плохие времена могут быть 
                по-настоящему устрашающими».</p></h4>
        </section>
    </div>
    <hr>
    <section class="serials">
        <h1><strong>Сериалы Marvel Studios</strong></h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Сериал</th>
                    <th>Количество сезонов</th>
                    <th>Количество эпизодов</th>
                    <th>Продюссеры</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5"><h4>Сериалы <strong>ABC</strong></h4></td>
                </tr>
                <tr>
                    <td>Агенты Щ.И.Т.</td>
                    <td>5</td>
                    <td>110</td>
                    <td>Джед Уидон, Морисса Танчароен и Джеффри Белл</td>
                    <td>Выпущено 4 сезона, 5-съёмочный процесс</td>
                </tr>
                <tr>
                    <td>Агент Картер</td>
                    <td>2</td>
                    <td>18</td>
                    <td>Тара Баттерс, Мишель Фазекас и Крис Дингесс</td>
                    <td>Выпущен</td>
                </tr>
                <tr>
                    <td>Сверхлюди</td>
                    <td>1</td>
                    <td>8</td>
                    <td>Скотт Бак</td>
                    <td>Премьерные показы</td>
                </tr>
                <tr>
                    <td colspan="5"><h4>Сериалы <strong>Netflix</strong></h4></td>
                </tr>
                <tr>
                    <td>Сорвиголова</td>
                    <td>3</td>
                    <td>39</td>
                    <td>Стивен С. ДеНайт</td>
                    <td>2 сезона выпущено, 3 сезон-подготовка к съемкам</td>
                </tr>
                <tr>
                    <td>Джессика Джонс</td>
                    <td>2</td>
                    <td>26</td>
                    <td>Мелисса Розенберг</td>
                    <td>1 сезон выпущен, 2 сезон-Пост-продакшн</td>
                </tr>
                <tr>
                    <td>Люк Кейдж</td>
                    <td>2</td>
                    <td>26</td>
                    <td>Чео Ходари Кокер</td>
                    <td>1 сезон выпущен, 2 сезон-съёмочный процесс</td>
                </tr>
                <tr>
                    <td>Сверхлюди</td>
                    <td>1</td>
                    <td>8</td>
                    <td>Скотт Бак</td>
                    <td>Премьерные показы</td>
                </tr>
                <tr>
                    <td>Железный кулак</td>
                    <td>2</td>
                    <td>26</td>
                    <td>Скотт Бак</td>
                    <td>1 сезон выпущен, 2 сезон- в разработке</td>
                </tr>
                <tr>
                    <td>Защитники</td>
                    <td>1</td>
                    <td>8</td>
                    <td>Даг Петри и Марко Рамирез</td>
                    <td>Выпущен</td>
                </tr>
                <tr>
                    <td>Каратель</td>
                    <td>1</td>
                    <td>13</td>
                    <td>Стив Лайтфут</td>
                    <td>Пост-продакшн</td>
                </tr>
                <tr>
                    <td colspan="5"><h4>Сериалы <strong>HULU</strong></h4></td>
                </tr>
                <tr>
                    <td>Беглецы</td>
                    <td>1</td>
                    <td>?</td>
                    <td>Джош Шварц и Стефани Сэвадж</td>
                    <td>Съёмочный процесс</td>
                </tr>
                <tr>
                    <td colspan="5"><h4>Сериалы <strong>Freeform</strong></h4></td>
                </tr>
                <tr>
                    <td>Плащ и Кинжал</td>
                    <td>1</td>
                    <td>10</td>
                    <td>Джо Покаски</td>
                    <td>Съёмочный процесс</td>
                </tr>
                <tr>
                    <td>Новые Воины</td>
                    <td>1</td>
                    <td>10</td>
                    <td>Кевин Бигель</td>
                    <td>В разработке</td>
                </tr>
            </tbody>
        </table>
    </section>
</div> 

<div class="scrollup">
  <i class="fa fa-chevron-up"></i>
  <script>
    $(function() {
    $('.scrollup').click(function() {
        $("html, body").animate({
        scrollTop:0
        },1000);
    })
    })
    // при прокрутке окна (window)
    $(window).scroll(function() {
    // если пользователь прокрутил страницу более чем на 200px
    if ($(this).scrollTop()>1000) {
        // то сделать кнопку scrollup видимой
        $('.scrollup').fadeIn();
    }
    // иначе скрыть кнопку scrollup
    else {
        $('.scrollup').fadeOut();
    }
    });
    </script>
</div>
{{> footer}}